@import "tailwindcss";

.project__img {
  height: 100%;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

.project__img:hover {
  transform: scale(1.05);
}

.project__figure {
  cursor: pointer;
  border: 2px solid #3bbad8;
  opacity: 0.6;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: opacity 0.3s;
}

.project__figure:hover {
  opacity: 1;
}

.tech {
  width: 120px;
  height: 120px;
  padding: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech__logo {
  width: 100%;
  transition: all 300ms ease;
}

.tech__name {
  position: absolute;
  bottom: -15px;
  transform: scale(0);
  transition: all 300ms ease;
}

.tech:hover .tech__logo {
  scale: 0.9;
  transition: all 300ms ease;
  filter: brightness(90%);
}
.tech:hover .tech__name {
  transform: scale(1);
}

input,
textarea {
  width: 100%;
  height: 40px;
  background-color: transparent;
  color: #ede6d7;
  outline: none;
  border-bottom: 3px solid black;
  transition: all 300ms ease;
}

textarea {
  resize: vertical;
  height: 150px;
}

input:hover,
textarea:hover {
  border-color: #ede6d7;
}

input:focus,
textarea:focus {
  border-color: #ede6d7;
}

.shape {
  position: absolute;
  width: 60px;
  height: 60px;
}

.nav__link {
  position: relative;
  display: inline-block;
  font-size: 16px;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: black;
  transition: all 300ms ease-in-out;
}

.nav__link:hover {
  .underline {
    width: 100%;
  }
}

.modal__hidden {
  opacity: 0;
  pointer-events: none;
  z-index: 0;
}

.modal__open {
  opacity: 1;
  pointer-events: all;
  z-index: 40;
}

.toggle-switch {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  transform: scale(1);
  transition: transform 300ms;
}

.toggle-switch:hover {
  transform: scale(1.25);
}

span {
  color: #c64623;
}

.about__img{
  width: 20rem;
  height: 20rem;
}

.red {
  color: #c64623;
}
.red__border {
  border-color: #c64623;
}
.blue {
  color: #3bbad8;
}
.blue__border {
  border-color: #3bbad8;
}

.title__underline {
  width: 100%;
  background-color: #c64623;
  height: 1px;
}

.tech__wrapper {
  border-top: 4px solid #c64623;
  border-bottom: 4px solid #c64623;
}

.tech__bg {
  background: linear-gradient(to bottom right, #7fc8c9, #3e8c8e);
}

.foot-color {
  background: #377e80;
}

.footer__border {
  width: 100%;
  height: 8px;
  background-color: #c64623;
}

.dark {
  background-color: #102a2e;

  color: white;

  .title__underline {
    background-color: #3bbad8;
  }

  .red {
    color: #3bbad8;
  }

  .blue__border {
    border-color: #c64623;
  }

  .red__border {
    border-color: #3bbad8;
  }

  .btn {
    background-color: #3bbad8;
    color: black;
  }

  .logo {
    filter: invert();
  }

  .underline {
    background-color: white;
  }

  .proj__logo {
    filter: invert() brightness(1.5);
  }

  .modal {
    background-color: #102a2e;
    color: black;
  }

  .tech__wrapper {
    border-top: 4px solid #3bbad8;
    border-bottom: 4px solid #3bbad8;
  }

  .tech__bg {
    background: linear-gradient(135deg, #121928, #1b7488);
  }

  .foot-color {
    background: #121928;
  }

  .proj__logo {
    filter: brightness(4);
  }

  .footer__border {
    background-color: #3bbad8;
  }
}

@media (max-width:992px) {
  .tech{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
  }

  
}

@media (max-width:468px) {
  .nav__link{
    font-size: 12px;
  }

  .toggle-switch{
    width: 20px;
  }

  .about__img{
    width: 10rem;
    height: 10rem;
  }

}