@import "tailwindcss";

.project__img {
  height: 100%;                
  transform: scale(1);           
  transition: transform 0.5s ease-in-out; 
}

.project__img:hover {
  transform: scale(1.05);       
}

.project__figure {              
  cursor: pointer;                 
  border: 2px solid #3bbad8;      
  opacity: 0.6;                    
  border-radius: 0.5rem;           
  overflow: hidden;               
  transition: opacity 0.3s;        
}

.project__figure:hover {
  opacity: 1;                      
}

.tech{
  width: 120px;
  height: 120px;
  padding: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech__logo{
  width: 100%;
  transition: all 300ms ease;
}

.tech__name{
  position: absolute;
  bottom: -15px;
  transform: scale(0);
  transition: all 300ms ease;
}

.tech:hover .tech__logo{
  scale: 0.9;
  transition: all 300ms ease;
  filter: brightness(90%);
}
.tech:hover .tech__name{
  transform: scale(1);
}

input,
textarea {
  width: 100%;
  height: 40px;
  background-color: transparent;
  color: #ede6d7;
  outline: none;
  border-bottom: 3px solid black;
  transition: all 300ms ease;
}

textarea{
  resize: vertical;
  height: 150px;
}

input:hover,
textarea:hover {
  border-color: #ede6d7;
}

input:focus,
textarea:focus {
  border-color: #ede6d7;
}

.shape {
  position: absolute;
  width: 60px;
  height: 60px;
}

.hidden{
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 0;
}

.modal__open{
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  z-index: 30;
}

.toggle-switch {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  transform: scale(1);
  transition: transform 300ms;
}

.toggle-switch:hover {
  transform: scale(1.25);
}

.red{
  color: #c64623
}
.red__border{
  border-color: #c64623;
}
.blue{
  color: #3bbad8;
}
.blue__border{
  border-color: #3bbad8;
}

