@import "tailwindcss";

.project__img {
  height: 100%;                
  transform: scale(1);           
  transition: transform 0.5s ease-in-out; 
}

.project__img:hover {
  transform: scale(1.05);       
}

.project__figure {              
  cursor: pointer;                 
  border: 2px solid #3bbad8;      
  opacity: 0.6;                    
  border-radius: 0.5rem;           
  overflow: hidden;               
  transition: opacity 0.3s;        
}

.project__figure:hover {
  opacity: 1;                      
}

